@page
@using Default.Architecture.Views
@model AccountCreatedSuccessfullyModel
@{
    <h1>Account created successfully!</h1>
    <h2>Now, you are ready to use our system. Be welcome!</h2>
    <h3>Name: @Model.Name</h3>
    <h3>Email: @Model.Email</h3>
}
