DefaultArchitecture/bin/
DefaultArchitecture/obj/

Domain/bin/
Domain/obj/

Persistence/bin/
Persistence/obj/

Repository/bin/
Repository/obj/

Security/bin/
Security/obj/

*/bin/
*/obj/

DefaultArchitecture/bin/Debug/netcoreapp2\.0/DefaultArchitecture\.dll

DefaultArchitecture/bin/Debug/netcoreapp2\.0/DefaultArchitecture\.pdb

DefaultArchitecture/obj/Debug/netcoreapp2\.0/DefaultArchitecture\.pdb

DefaultArchitecture/obj/Debug/netcoreapp2\.0/

\.vs/config/applicationhost\.config

\.vs/DefaultArchitecture/v15/

DefaultArchitecture/bin/Debug/netcoreapp2\.0/


.idea
.vs